include LICENSE
include README.md
include pyproject.toml

recursive-include cometspec/data *.txt
recursive-include cometspec/data *.dat
recursive-include cometspec/data *.h5
recursive-include cometspec/data *.csv
recursive-include cometspec/data *.npz

